<h2><%= t('settings.title') %></h2>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "font-awesome.css", :plugin => "vault" %>
    <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "vault" %>
    <%= javascript_include_tag 'vault', :plugin => 'vault' %>
<% end %>

<% tabs = [
    {name: 'encryption', partial: 'vault_settings/tabs/encryption', label: 'settings.label.encryption', class: 'fa fa-key'},
    {name: 'backup', partial: 'vault_settings/tabs/backup', label: 'settings.label.backup', class: 'fa fa-export'},
] %>

<%= render_tabs tabs %>
